---
layout: default
refactor: true
---

{% include lang.html %}

{% assign all_pinned = site.posts | where: 'pin', 'true' %}
{% assign all_normal = site.posts | where_exp: 'item', 'item.pin != true and item.hidden != true' %}

{% assign posts = '' | split: '' %}

<!-- Get pinned posts on current page -->

{% assign visible_start = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign visible_end = visible_start | plus: paginator.per_page %}

{% if all_pinned.size > visible_start %}
  {% if all_pinned.size > visible_end %}
    {% assign pinned_size = paginator.per_page %}
  {% else %}
    {% assign pinned_size = all_pinned.size | minus: visible_start %}
  {% endif %}

  {% for i in (visible_start..all_pinned.size) limit: pinned_size %}
    {% assign posts = posts | push: all_pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_size = 0 %}
{% endif %}

<!-- Get normal posts on current page -->

{% assign normal_size = paginator.posts | size | minus: pinned_size %}

{% if normal_size > 0 %}
  {% if pinned_size > 0 %}
    {% assign normal_start = 0 %}
  {% else %}
    {% assign normal_start = visible_start | minus: all_pinned.size %}
  {% endif %}

  {% assign normal_end = normal_start | plus: normal_size | minus: 1 %}

  {% for i in (normal_start..normal_end) %}
    {% assign posts = posts | push: all_normal[i] %}
  {% endfor %}
{% endif %}

<!-- 파인만 선생님 -->
<div id="feynman">
  <h2 
  class="special-gothic-expanded-one-regular typing"
  style=" font-size: 48px; color: black; margin-bottom: 10px; margin-top: 100px;">
    “What I cannot create,<br> I do not understand.”
  </h2>
  <span
  class="special-gothic-expanded-one-regular "
  style="font-size: 24px;font-weight: 300;">-Richard Feynman-</span>
</div>




<!-- 새로운 기능 시작 -->

{% assign pinned_posts = site.posts | where: "pin", true | slice: 0, 5 %}

<div class="main-with-cover">
  <!-- 제목 -->
  <div class="slide-title">
    {% for post in pinned_posts limit:5 %}
    <div class="slide-title-item {% if forloop.first %}active{% endif %}">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </div>
    {% endfor %}
  </div>
  
  <!-- 이미지 + 태그 나란히 -->
  <div class="cover-slider-layout">
    <!-- 이미지 -->
    <div id="cover-container">
      <div class="cover-thumbnail">
        {% for post in pinned_posts limit:5 %}
        {% assign image_path = post.image.path | default: post.image %}
        <div class="slide-item {% if forloop.first %}active{% endif %}">
          <a href="{{ post.url | relative_url }}">
            <div class="thumbnail-slide"
                 style="background-image: url('{{ image_path | relative_url }}');">
            </div>
          </a>
          <div class="slide-hover-content">
            <h4>{{ post.title }}</h4>
            {{ post.excerpt }}
          </div>
        </div>
      {% endfor %}
      
      </div>
    </div>

  <!-- 썸네일 오른쪽 시작 -->
  <div id="thumb-right-side">
    <!-- 태그 -->
    <div class="slide-tags">
      {% for post in pinned_posts limit:5 %}
      <div class="slide-tags-item {% if forloop.first %}active{% endif %}">
        {% for tag in post.tags %}
        {% assign url = tag | slugify | url_encode | prepend: '/tags/' | append: '/' %}
        <a class="post-tag btn slide-tag" href="{{ url | relative_url }}"><span>#{{ tag }}</span></a>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
       <!-- 3d 모델 -->
       <div id="three-container"></div>
     </div>
     <!-- 썸네일 오른쪽 끝 -->
  </div>

  <!-- 슬라이드 컨트롤 -->
  <div class="slider-controls">
    <button id="prevSlide" aria-label="이전 슬라이드">◀</button>
    <div id="playDiv">
      <button id="togglePlay" aria-label="슬라이드 정지">⏸</button>
    </div>
    <button id="nextSlide" aria-label="다음 슬라이드">▶</button>
  </div>  
</div>

<!-- 새로운 기능 끝-->

<h2>게시물 목록</h2>
<div id="post-list" class="flex-grow-1 px-xl-1">
  {% for post in posts %}
    <article class="card-wrapper card">
      <a href="{{ post.url | relative_url }}" class="post-preview row g-0 flex-md-row-reverse">
        {% assign card_body_col = '12' %}

        {% if post.image %}
          {% assign src = post.image.path | default: post.image %}
          {% unless src contains '//' %}
            {% assign src = post.media_subpath | append: '/' | append: src | replace: '//', '/' %}
          {% endunless %}

          {% assign alt = post.image.alt | xml_escape | default: 'Preview Image' %}

          {% assign lqip = null %}

          {% if post.image.lqip %}
            {% capture lqip %}lqip="{{ post.image.lqip }}"{% endcapture %}
          {% endif %}

          <div class="col-md-5">
            <img src="{{ src }}" alt="{{ alt }}" {{ lqip }}>
          </div>

          {% assign card_body_col = '7' %}
        {% endif %}

        <div class="col-md-{{ card_body_col }}">
          <div class="card-body d-flex flex-column">
            <h1 class="card-title my-2 mt-md-0">{{ post.title }}</h1>

            <div class="card-text content mt-0 mb-3">
              <p>{% include post-description.html %}</p>
            </div>

            <div class="post-meta flex-grow-1 d-flex align-items-end">
              <div class="me-auto">
                <!-- posted date -->
                <i class="far fa-calendar fa-fw me-1"></i>
                {% include datetime.html date=post.date lang=lang %}

                <!-- categories -->
                {% if post.categories.size > 0 %}
                  <i class="far fa-folder-open fa-fw me-1"></i>
                  <span class="categories">
                    {% for category in post.categories %}
                      {{ category }}
                      {%- unless forloop.last -%},{%- endunless -%}
                    {% endfor %}
                  </span>
                {% endif %}
              </div>

              {% if post.pin %}
                <div class="pin ms-1">
                  <i class="fas fa-thumbtack fa-fw"></i>
                  <span>{{ site.data.locales[lang].post.pin_prompt }}</span>
                </div>
              {% endif %}
            </div>
            <!-- .post-meta -->
          </div>
          <!-- .card-body -->
        </div>
      </a>
    </article>
  {% endfor %}
</div>
<!-- #post-list -->

{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}

