@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;
@use '../abstracts/breakpoints' as bp;
@use '../abstracts/placeholders';

#topbar-wrapper {
  height: v.$topbar-height;
  background-color: var(--topbar-bg);

  @include mx.slide(top 0.2s ease);
  left: 0;
}

#topbar {
  @extend %btn-color;

  #breadcrumb {
    font-size: 1rem;
    color: var(--text-muted-color);
    padding-left: 0.5rem;

    a:hover {
      @extend %link-hover;
    }

    span {
      &:not(:last-child) {
        &::after {
          content: '›';
          padding: 0 0.3rem;
        }
      }
    }

    display: none; // 항상 숨김
  }

  @include mx.max-w-100;
  max-width: 100%;
}

#topbar-title {
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: sans-serif;
  color: var(--topbar-text-color);
  text-align: center;
  width: 70%;
  word-break: keep-all;
}

#sidebar-trigger {
  display: block;
}

#search-trigger {
  display: none;

  @include bp.lt(bp.get(lg)) {
    display: block;
  }
}
